<%- include("../partials/header") %>

</div>
	<header class="jumbotron">
		<div class="container">
			<div class="container index">
				<h1 style="font-size:2.75em;" class="yelp">Welcome to YelpCamp!</h1><br>
				
					<div class="row justify-content-center">
						<a class="btn btn-success mr-5" color="#225500" href="/campgrounds/new">Add New Campground</a>
						<form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
							<input type="text" name="search" placeholder="Search for a campground" class="form-control mr-2" style="width: 225px;">
							<input type="submit" value="Search" class="btn btn-success">
						</form>
					</div><br><br>
						<p style="font-size:1.5em;" class="yelp">Find the perfect campground hand-picked by those that know best. <br>	
						<b>You</b>, the campers.</p>	
					<% if(noMatch !== null) { %>
					<h3><hr><%= noMatch %></h3>
					<% } %>
			</div>
		</div>	
	</header>
	

<div class="container">

<div class="row text-center">
	<% campgrounds.forEach(function(campground){ %>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<div class="card">
				<img class="card-img-top" style="height: 250px" src="<%= campground.image %>" alt="<%= campground.name %>"> 
				<div class="card-body">
					<h5 class="card-title"><%= campground.name %></h5>
					<a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More Information</a>
				</div>
			</div>		
		</div>
	<% }); %>
</div> 


<%- include("../partials/footer") %>