<%- include("../partials/header") %>

<div class="row" style="position: relative;">
	<div class="col-md-6">
		<h2><%= user.firstName + " " + user.lastName %></h2>
		    <div class="thumbnail">
				<img src="<%= user.avatar %>" alt="user profile image" style="height:200px; width:200px">
			    <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
            </div>
            <br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quasi similique architecto ad modi sunt quaerat possimus, officiis quos. Voluptatibus repellendus exercitationem, id saepe sunt consectetur non quam sapiente assumenda.
	</div>
	<div class="col-md-6">
		<br>
		<a href="/follow/<%= user.id %>"><button class="myButton">Follow <%= user.username %></button></a>
		<br><br>
		<a style="font-weight:bold;">Campgrounds submitted by <%= user.username %>:</a>
	</div> 
</div>

<%- include("../partials/footer") %>

